<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BINDIR">
            <Directory Id="dir61D8A26B4245402D9C928660F9400182" Name="gdal-data" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="gdal">
            <Component Id="cmp6BB47C7D8956F22296D64A11D62E5F9A" Directory="BINDIR" Guid="*">
                <File Id="filF0C62C10AEF6FD59AC65D7D26F1C7A88" KeyPath="yes" Source="!(wix.GdalSrcDir)\cfitsio.dll" />
            </Component>
            <Component Id="cmpEF987836ADE6E28832F8829AFFD13D05" Directory="BINDIR" Guid="*">
                <File Id="filE5C73F3297C751257C6AEC1847E78588" KeyPath="yes" Source="!(wix.GdalSrcDir)\expat.dll" />
            </Component>
            <Component Id="cmp684CACFCA28106F26826123025C1EC73" Directory="BINDIR" Guid="*">
                <File Id="fil876F649678712FD74FDB2FA4AB42354E" KeyPath="yes" Source="!(wix.GdalSrcDir)\freexl.dll" />
            </Component>
            <Component Id="cmp35B5E315DC4758725CF485813BB3375D" Directory="BINDIR" Guid="*">
                <File Id="fil1A3E3235C466E5E2D83937883575BF84" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal202.dll" />
            </Component>
            <Component Id="cmp6F174CDE7D5144DB726D38FB1C47913A" Directory="BINDIR" Guid="*">
                <File Id="fil1F06DDD9E6A25F1605E5A1E7F4126216" KeyPath="yes" Source="!(wix.GdalSrcDir)\geos.dll" />
            </Component>
            <Component Id="cmpFBBC090AFA2F9DEB4EE1E2A64D36A38C" Directory="BINDIR" Guid="*">
                <File Id="fil8506ACB6149A03457B6620F0F1A263E2" KeyPath="yes" Source="!(wix.GdalSrcDir)\geos_c.dll" />
            </Component>
            <Component Id="cmp9738C8A9357A4CCB5E655C070C88DD7F" Directory="BINDIR" Guid="*">
                <File Id="fil3F8C5857F2AC2303A05CD965429B3254" KeyPath="yes" Source="!(wix.GdalSrcDir)\hdf5.dll" />
            </Component>
            <Component Id="cmpDBD1ED74842B238AC8644DEBBC1C0A41" Directory="BINDIR" Guid="*">
                <File Id="fil16BAF65B20676B9F50F7262B44B16FA7" KeyPath="yes" Source="!(wix.GdalSrcDir)\hdf5_hl.dll" />
            </Component>
            <Component Id="cmpB420E7BEF0B7B0751D021C43DF3E4EF5" Directory="BINDIR" Guid="*">
                <File Id="fil56A39E83180B31CF53BBF0B445420291" KeyPath="yes" Source="!(wix.GdalSrcDir)\hdfdll.dll" />
            </Component>
            <Component Id="cmp145C4AFDDEB65A973A466302DC288CFD" Directory="BINDIR" Guid="*">
                <File Id="filFFEF71EE5918C7D67F6D2675F07B0BE5" KeyPath="yes" Source="!(wix.GdalSrcDir)\iconv.dll" />
            </Component>
            <Component Id="cmp87E38868EE53AE36814BE08A5ECF0CB3" Directory="BINDIR" Guid="*">
                <File Id="filC2BD74ABA29C855D5A3C84A015EC0E32" KeyPath="yes" Source="!(wix.GdalSrcDir)\libcurl.dll" />
            </Component>
            <Component Id="cmp955EC407774D23809407028E3ACCE732" Directory="BINDIR" Guid="*">
                <File Id="filA377D8CC9F8846B3713D3269DFD12BF2" KeyPath="yes" Source="!(wix.GdalSrcDir)\libeay32.dll" />
            </Component>
            <Component Id="cmp0E2C8324A94E6843151BF44CA0DE88C3" Directory="BINDIR" Guid="*">
                <File Id="filA451D97B180C893E0DB8A1B74645E222" KeyPath="yes" Source="!(wix.GdalSrcDir)\libkea.dll" />
            </Component>
            <Component Id="cmp8EFB49011CEB6F60E47FDC09CBD8986D" Directory="BINDIR" Guid="*">
                <File Id="filC30CE8247BB2C284CC302B19511E110A" KeyPath="yes" Source="!(wix.GdalSrcDir)\libmysql.dll" />
            </Component>
            <Component Id="cmp57A73BEFF691809139F69378071E48AE" Directory="BINDIR" Guid="*">
                <File Id="fil983340463CEAEE80960B5037E66853B8" KeyPath="yes" Source="!(wix.GdalSrcDir)\libpq.dll" />
            </Component>
            <Component Id="cmpF43278D8DF827D6C4C9998CBDA58D7DF" Directory="BINDIR" Guid="*">
                <File Id="fil6C765212EA48F518422473EE209F7A2F" KeyPath="yes" Source="!(wix.GdalSrcDir)\libxml2.dll" />
            </Component>
            <Component Id="cmp68A562C06372AF7FF22E45A489A023EC" Directory="BINDIR" Guid="*">
                <File Id="fil845608A2EA781C4A18C071B9964B9839" KeyPath="yes" Source="!(wix.GdalSrcDir)\mfhdfdll.dll" />
            </Component>
            <Component Id="cmp988A7DEF5428ED92D2383AC36C5BF7C6" Directory="BINDIR" Guid="*">
                <File Id="filA1CA482FABBB525A6EA1CAE4F29DDD20" KeyPath="yes" Source="!(wix.GdalSrcDir)\netcdf.dll" />
            </Component>
            <Component Id="cmpF0D1F159A8B41248F90DE06DF818E419" Directory="BINDIR" Guid="*">
                <File Id="fil39E3A1F3FE277C883B56DA63F051FD7E" KeyPath="yes" Source="!(wix.GdalSrcDir)\openjp2.dll" />
            </Component>
            <Component Id="cmpDFF95A6D033EFD819E3F72D5FF50BA82" Directory="BINDIR" Guid="*">
                <File Id="fil50531B206AB4125FA291003483298C08" KeyPath="yes" Source="!(wix.GdalSrcDir)\proj.dll" />
            </Component>
            <Component Id="cmpE393D9A7A775EB53E50F1AA58748861D" Directory="BINDIR" Guid="*">
                <File Id="fil39AFA402DFDDB20B8C52E5F5A734B93F" KeyPath="yes" Source="!(wix.GdalSrcDir)\spatialite.dll" />
            </Component>
            <Component Id="cmp541B83D1710B39E52E3EBD93309EFAAF" Directory="BINDIR" Guid="*">
                <File Id="filA502F364715E807FF779C332C966A35C" KeyPath="yes" Source="!(wix.GdalSrcDir)\sqlite3.dll" />
            </Component>
            <Component Id="cmpE9FCC874E350DFB7708D85F70654A778" Directory="BINDIR" Guid="*">
                <File Id="filD5006D5FB6054724C2A956D453BE8DD2" KeyPath="yes" Source="!(wix.GdalSrcDir)\ssleay32.dll" />
            </Component>
            <Component Id="cmp4C07D94E2DDC80D1480620FEA63EB350" Directory="BINDIR" Guid="*">
                <File Id="fil28DCB1A5B0AEF6FAE0F2A2C6CC4D2C2B" KeyPath="yes" Source="!(wix.GdalSrcDir)\szip.dll" />
            </Component>
            <Component Id="cmpBC134DEBDD5784DF38E2900AF814DCCF" Directory="BINDIR" Guid="*">
                <File Id="filA376E49DDF9ABFBF8F699724956E2934" KeyPath="yes" Source="!(wix.GdalSrcDir)\xdrdll.dll" />
            </Component>
            <Component Id="cmp37AFBAA52D8C0AA19654DEA3C733CE3D" Directory="BINDIR" Guid="*">
                <File Id="fil7EA2E378A5A665D554FD27807C390845" KeyPath="yes" Source="!(wix.GdalSrcDir)\xerces-c_3_2.dll" />
            </Component>
            <Component Id="cmp576957B9B8425A576274047F3428790A" Directory="BINDIR" Guid="*">
                <File Id="fil376E0D0C3D448263AC74A30EDB338991" KeyPath="yes" Source="!(wix.GdalSrcDir)\zlib1.dll" />
            </Component>
            <Component Id="cmpB1F2F201F003F278565458575F6BC890" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil7C3521A6E18698C08C759279AEDFE583" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\compdcs.csv" />
            </Component>
            <Component Id="cmp4B4C4C093F3A83B95AE3DE09FFDEF500" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filD73D9811C4F35B92DEEDBC0081FAF07F" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\coordinate_axis.csv" />
            </Component>
            <Component Id="cmp7EC35AA45FDB9775E2CB56EEA39C926E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil339878DC1532E50898F87263D3690AF3" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\cubewerx_extra.wkt" />
            </Component>
            <Component Id="cmp760677F08D29911F8115900852562726" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filB63F9E335A9041E5408DAFC2AA0E9C79" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\datum_shift.csv" />
            </Component>
            <Component Id="cmp8B1063042E2705FD9EF6F1F8658B0067" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil67BE6452A36F461AF6671E1C46A77B36" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\default.rsc" />
            </Component>
            <Component Id="cmp533D519701B4F9738637838590721FAC" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil906430478B8AC1D8CF84C3BD87CD9AD1" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ecw_cs.wkt" />
            </Component>
            <Component Id="cmpF0ACE00E4DC0F0A2A0C851421C087EA1" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil386307B71183D9B8F7B70C8FF8E61521" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ellipsoid.csv" />
            </Component>
            <Component Id="cmp4F3A39A25950D37D01C2EC5BD7274224" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFF3DA31020C792676B740BF92982A8CA" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\epsg.wkt" />
            </Component>
            <Component Id="cmp8B94A9BE8A5A55342DEC289AB5BB419C" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil4A88A161845F7A213CAAE5FC292961AE" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\esri_extra.wkt" />
            </Component>
            <Component Id="cmpD3E97095BE25504467E6BFA84BBFC2A0" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFC649841FC75C4D35022DB2B6BE259D9" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\esri_StatePlane_extra.wkt" />
            </Component>
            <Component Id="cmp5335A71ED5DD54E1C051242163A4A822" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC91CE0D525898EB941477119A1D5DDE7" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\esri_Wisconsin_extra.wkt" />
            </Component>
            <Component Id="cmp558747089C235919F58F4C434D2A3577" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil898F47F8CDC7AF1031603C9D6F8403FA" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gcs.csv" />
            </Component>
            <Component Id="cmpF3C5AD2D202C0A11D7079D882590A660" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC1F13F3A70DF6D2D863888971E57053D" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gcs.override.csv" />
            </Component>
            <Component Id="cmp3025C042909CD5537E5C915F41D441F9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1FB283726674B0CF5550626971122B8C" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gdalicon.png" />
            </Component>
            <Component Id="cmp33BF9590F2EDCA052B5461423C386E77" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil94DB3EE1364EA2C7E788644B93F49923" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\GDALLogoBW.svg" />
            </Component>
            <Component Id="cmp93F569B63625886017E346A5E4D2AC00" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil3169F20C4B0060D0FF0E7A4F8D74A990" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\GDALLogoColor.svg" />
            </Component>
            <Component Id="cmpF8B18C65B113FBADFFA222C07B14A1FE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil0257502CA88047EA3C88CEDBA3E67101" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\GDALLogoGS.svg" />
            </Component>
            <Component Id="cmp9962D1082CD9BA266892C1CC096A840B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil090E98AA844ABA3CC3CE25C79F4BB5E2" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gdalvrt.xsd" />
            </Component>
            <Component Id="cmpED0F7FBCDFEF14F7A968339510FCC194" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filE55CA7633C16F2942E96F9A3925F846D" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gdal_datum.csv" />
            </Component>
            <Component Id="cmp5642C210C14CF1631BA28CA8D1481265" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil3A7C610F3E0E4BCA1521D6B5D51AA779" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\geoccs.csv" />
            </Component>
            <Component Id="cmp45A35BB24574C1F27DA600A4737BD7BE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil29A3E3165917C927CBAE4BD4AA5B0FE8" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gmlasconf.xml" />
            </Component>
            <Component Id="cmp606ED0D844E2F89F81F5DAA5372AD93E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil5190CD81D4D5983FC429CEEED35882A3" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gmlasconf.xsd" />
            </Component>
            <Component Id="cmpF473A81638AA2BB78AD65FC94D60E2BA" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil967DEB93C7C3EF8F4FEB81A8F0FE6481" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gml_registry.xml" />
            </Component>
            <Component Id="cmpAE4E9CF5A0AB87F48E9453AF8CB1B66F" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil48FAF9A031505ABE85202F44722AA6CE" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gt_datum.csv" />
            </Component>
            <Component Id="cmp70923D0040DE3C9D71ED19F37784F0C6" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC7D2BC308839CD9936775C969CB84B8F" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\gt_ellips.csv" />
            </Component>
            <Component Id="cmpAD4F2C18923F88F9942286986E7A8BF5" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil10BBCC8D1C507833B57BE939A606FAE9" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\header.dxf" />
            </Component>
            <Component Id="cmp0D663CD6D4D02E3768D3E521045E7465" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filBB0C328B70C69833EFF49DCFF30883D9" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\inspire_cp_BasicPropertyUnit.gfs" />
            </Component>
            <Component Id="cmp9AC55D8DCD5E144666D4AA1E0AD578A9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil9E5E9BDC7979E35C97BB57B550D30865" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\inspire_cp_CadastralBoundary.gfs" />
            </Component>
            <Component Id="cmpEF9CF9B7B0B5071C37409E358ACBC934" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil85F7356AEF1B768177BD1722975A7D81" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\inspire_cp_CadastralParcel.gfs" />
            </Component>
            <Component Id="cmp12516EF2E0D94124CB5E36AEC0E4D12C" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil4F2167849373358646FDE57035FF1F3F" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\inspire_cp_CadastralZoning.gfs" />
            </Component>
            <Component Id="cmp8C1C0B8B7CA0786545C0E991EE9B36C7" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC48714A363203D78AD9F4595D917E89C" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_AdmArea.gfs" />
            </Component>
            <Component Id="cmpAF4F6C77B293D3971DD2D6EA195781D9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil9304F4F98BB9E443C9223A45D0395771" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_AdmBdry.gfs" />
            </Component>
            <Component Id="cmp723665E336B6122B26C4308DF0BFAA56" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filE526D105CFB1E1682563F9949D751B95" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_AdmPt.gfs" />
            </Component>
            <Component Id="cmp7D9343557560662A605A92C25DC28421" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil815ADA9E33B56EFE64A3A2FBAFEE1ADA" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_BldA.gfs" />
            </Component>
            <Component Id="cmp6465C02E2DE99FED4D6018A19754AEBF" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil10B5072BA0C31FAB00BCBF318B1BA555" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_BldL.gfs" />
            </Component>
            <Component Id="cmp8FE31285A7951CF9506D3CCC888E6746" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFF976E782BB4BDB2DE333CBD681CFF01" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_Cntr.gfs" />
            </Component>
            <Component Id="cmp0554AEF04F6D7B816A190FE122ABA1F9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filE348E3FD4AC8E0A39C8D60F927F85699" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_CommBdry.gfs" />
            </Component>
            <Component Id="cmp85768734E7D2A827B73BEA561C735513" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil96CCEC41D34DDD427D9E28C1504D0F48" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_CommPt.gfs" />
            </Component>
            <Component Id="cmp13904EA41FA1A859995A9F67C02294F4" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filB93365EB4EAC4F1FFA900E9BF93082F7" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_Cstline.gfs" />
            </Component>
            <Component Id="cmp5D9D35D5C55E5F52D021B582AF9B89E5" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil37645DD76684965B34BF51B899C745CE" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_ElevPt.gfs" />
            </Component>
            <Component Id="cmpFCE26527AC432D5359F52F083C94D0AB" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFC1712ED9E9B1307E16B6A23AEFF994E" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_GCP.gfs" />
            </Component>
            <Component Id="cmp8439A03505205D4F515D1975B3573881" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filDC3CEA983CF0731F405F947A7E384EF8" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_LeveeEdge.gfs" />
            </Component>
            <Component Id="cmpF4777A951622060A2C88EFF3357AB18D" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filB558CB50B1730BE25FC71E0404F5F54D" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RailCL.gfs" />
            </Component>
            <Component Id="cmpB1A297CA7CE7996DD17332AD8BABCDBE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil4664EB5A8CDA9EF8E5AB63E48D605C16" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdArea.gfs" />
            </Component>
            <Component Id="cmp5EBF81866831E9D419155EEF9B2EE2F0" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil74335F036D9E258BC5F14516CD6A3052" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdASL.gfs" />
            </Component>
            <Component Id="cmp4D6ECE0C3DE02D53692CDF3B0476FF56" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil9BD881BF5673D6A4088F1D83D84D41F4" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdCompt.gfs" />
            </Component>
            <Component Id="cmpFD40EFF8288E8BC556B6F5B5C7A4EF00" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil67C4D465FD931FB35D4CF01BF72468AD" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdEdg.gfs" />
            </Component>
            <Component Id="cmp6235E904CD64F131A0EB8EF4806440FE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil4EEE7773A580FCE0EC256A6A222B3AF2" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdMgtBdry.gfs" />
            </Component>
            <Component Id="cmpBE5E06DAD7CCA590352DB573A5407567" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil8A90451B0B5506F4FF931B6F82C750F1" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RdSgmtA.gfs" />
            </Component>
            <Component Id="cmp3333D1271A2D3183339A2345E11E6D9B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil105A1C46B8FC3B0DD8A32056B98CB784" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_RvrMgtBdry.gfs" />
            </Component>
            <Component Id="cmpC0911798E36CEC6E67D2D3FE52481C33" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1FC1EF0CB5036FE6300B219745F2A0CF" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_SBAPt.gfs" />
            </Component>
            <Component Id="cmp0AC83CC9AFF8026E23C966FD9928681E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFED6D6753C7833D2F8D26BDE0C702DDB" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_SBArea.gfs" />
            </Component>
            <Component Id="cmp81515641503B86BC53FC9D689F7D88DC" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filA4BB3412D4A96DF639970B3D0FDF34F8" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_SBBdry.gfs" />
            </Component>
            <Component Id="cmpBAAEF775AE4B357E2570A6C02F69C683" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil3C3061978226B9E0313CD46C367E65E7" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_WA.gfs" />
            </Component>
            <Component Id="cmp724BA669867B2E6B09C526F78AD80E62" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil366EDFB2CB718E744F6AF03A83C917D1" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_WL.gfs" />
            </Component>
            <Component Id="cmpE891D4B303DB6CD4615220381C989456" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filE92293F27E62021CE916840137345DB8" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_WStrA.gfs" />
            </Component>
            <Component Id="cmpE29BAD88151965897CD1542CC686FD09" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filBBC3373CA42C929EBCA9B588BC721D1A" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\jpfgdgml_WStrL.gfs" />
            </Component>
            <Component Id="cmp682E277B3A64126E529FA732E174C43B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil9BDD2BF6FBB2C2A0C6AA469020E567A3" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\netcdf_config.xsd" />
            </Component>
            <Component Id="cmpBAE3295C22EF261855FF7B81D5CD8E76" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1B5CD25CA02FC5454E03F1A38899E6BE" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\nitf_spec.xml" />
            </Component>
            <Component Id="cmp064EB4E7CEDA60910E82A8D3668A355B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil8D4B6AF952278083A2832342831FFE0B" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\nitf_spec.xsd" />
            </Component>
            <Component Id="cmp48708C15EF8CB8B90BF773D0103125CE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filAF355FF5CB021A7477D3C310B0D64C59" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ogrvrt.xsd" />
            </Component>
            <Component Id="cmpB2F9C03CC9EEB6400AA95E7008C4F8E7" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filFF4EE336574C6D8B52889C6272CD523C" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\osmconf.ini" />
            </Component>
            <Component Id="cmp1AA77D389E8375D28F98D28087B9A406" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filE88A4AAE984C04722B650C4723511180" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ozi_datum.csv" />
            </Component>
            <Component Id="cmpDF366104C5C892FADB93EC2EB49DCC2D" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filD5CF6A46AA63A02D0654D9586AA5C39D" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ozi_ellips.csv" />
            </Component>
            <Component Id="cmp64EDF48587D5CF3B8CB6BA87135F704B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil82D701285458E5F4C7B12134EA1CD00D" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\pci_datum.txt" />
            </Component>
            <Component Id="cmpDFD30D342A5D0C70FB15319F7E86D848" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filBD50E19C50054D763B2BEC86C19B630A" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\pci_ellips.txt" />
            </Component>
            <Component Id="cmp21D7C0F8035D5FAB8680BD718460B17E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil5F17013363791A143526C2A3DE934D64" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\pcs.csv" />
            </Component>
            <Component Id="cmp78B77D5D5E225F6FB6A0C1F717EDEF92" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil8797BB905D47A986E5EF4641A23447CB" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\pcs.override.csv" />
            </Component>
            <Component Id="cmp16583EA507DABC9BE0988176E6E6096F" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil050D9CCDBE44E9DDE2B043AF4A0C102A" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\plscenesconf.json" />
            </Component>
            <Component Id="cmp5B0641F43F13A7BDFB7B043BF980E45B" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC2088CB24A9D32B298EB17CE29DAA51B" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\prime_meridian.csv" />
            </Component>
            <Component Id="cmp0270C426DCF0F24A7C7AF040DDF5C901" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filDC28485A70217ECAEB7625DC282C5542" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\projop_wparm.csv" />
            </Component>
            <Component Id="cmp5B8F9F9C80E4AF98F6A506CB847C96B9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filD594D2E062BE675B7267ECFDAAEF5988" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ruian_vf_ob_v1.gfs" />
            </Component>
            <Component Id="cmp90B4C8D074E1148A7E47FCC62EC9327A" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil997A9981DC48FD17869CF546BCC0BBB7" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ruian_vf_st_uvoh_v1.gfs" />
            </Component>
            <Component Id="cmpE1BBC11EE463B0163F3498F1EA4105FD" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil5599CE204E99D7BE3515C966675B5756" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ruian_vf_st_v1.gfs" />
            </Component>
            <Component Id="cmp49BF2AA91BD464C2358393E55A6E56D1" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC5EC9521037A3835271111A3B1A221C8" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\ruian_vf_v1.gfs" />
            </Component>
            <Component Id="cmpBA0F50C83576BD0E98E0A92C3FB78C4E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filDCF7C44C57991247C5B3B31E9979986B" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\s57agencies.csv" />
            </Component>
            <Component Id="cmp75CE9ABFEDF65635439CBAC0866CACB0" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1914E20AAC00372939DAB69479748D27" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\s57attributes.csv" />
            </Component>
            <Component Id="cmp0D860E298B247616F352CD32CA514403" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil4E639EC5EA89FC4428A398A18ACB796A" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\s57expectedinput.csv" />
            </Component>
            <Component Id="cmpB092A4128D4ABF83EE7B0A2E57F3EFB3" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1F3F7035588665AC14D23E52A6AD3007" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\s57objectclasses.csv" />
            </Component>
            <Component Id="cmp7FEA8A88E30FCEB42004A125079F9594" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil123BB68DE0CFA93FE1491CAC5830B631" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\seed_2d.dgn" />
            </Component>
            <Component Id="cmp80497D5AAA8F56F5CABEF239CF6B24F9" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil7E84C499CE157E2FE379FB2F85B7C31B" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\seed_3d.dgn" />
            </Component>
            <Component Id="cmp76D3BC878F0375F25307FF4FA86D8BF6" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filCB17E77A723B3A26598556053BB54008" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\stateplane.csv" />
            </Component>
            <Component Id="cmpD5D877DFFB719DC4ED4AAE449781CBDE" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil3BE93E503904655774A3DE1DF23F643E" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\trailer.dxf" />
            </Component>
            <Component Id="cmp05BFE74FF5F96A29C366C69A207FC669" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil1774267E844905141436B94DF907A513" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\unit_of_measure.csv" />
            </Component>
            <Component Id="cmp3E84495B7CF3D78C31BDE956EB9A8584" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil30C0CBF70DA82468EADC5B4AEDA72C57" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\vdv452.xml" />
            </Component>
            <Component Id="cmpA5DBECFB49E5B4FE7E6EAF12A39741A1" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="fil382797A845E909A9E0D77498F755109F" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\vdv452.xsd" />
            </Component>
            <Component Id="cmpFA5D66D68A4E0A4984167B7A44C942ED" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filC970B6DC0A4A6393DC9DF600921E4822" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\vertcs.csv" />
            </Component>
            <Component Id="cmpF91D55909C07D57B0E9CFD5EF43C541E" Directory="dir61D8A26B4245402D9C928660F9400182" Guid="*">
                <File Id="filCD4A686B4E03B485CFD09B7B38C45EBE" KeyPath="yes" Source="!(wix.GdalSrcDir)\gdal-data\vertcs.override.csv" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>