<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="PROJLIBDIR" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="projlib">
            <Component Id="cmpF6131FD29D4C33B7EC41C25165A53F3B" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil4E78F5C3FB6B0A13C94FB27771A22AAA" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\alaska" />
            </Component>
            <Component Id="cmp79CC0F5CEEDEB9D810AC86A69FE5C484" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil33220A131FFB77DFB05B84765531DAE7" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\conus" />
            </Component>
            <Component Id="cmp58988107429C6476AE5009B0AE68BECF" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil55174E98A954C1F4F472E31CBDA1A289" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\epsg" />
            </Component>
            <Component Id="cmp2F41F5D19CC0EB3102DBA70E38134D49" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil81DADE3FAA18D07BE10B0E0164917278" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\esri" />
            </Component>
            <Component Id="cmpDB70632AB437D038124306A7E1A1A2BE" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil4EACD2CF2DE5F922A2EAFF67DE3CEFCD" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\esri.extra" />
            </Component>
            <Component Id="cmp1B3F0C4E40334B64462BA4B261E08588" Directory="PROJLIBDIR" Guid="*">
                <File Id="filB3D481AF002EEF3729F9010A0E903E02" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\GL27" />
            </Component>
            <Component Id="cmpCF975C1E2262D94816E11C7B4DA004F7" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil4EA373EE2D86D555124011A31DC87878" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\hawaii" />
            </Component>
            <Component Id="cmpD98312983213F4BFC88D35B7393106E3" Directory="PROJLIBDIR" Guid="*">
                <File Id="filCC65FBB11C085EA102F02D807400102A" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\IGNF" />
            </Component>
            <Component Id="cmp570C8CE315C64E4D0CA9F2C67122948B" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil43E151B86BE7ABA876D1A200FE20038C" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\MD" />
            </Component>
            <Component Id="cmp1AF97DAAF45A5CF662C02BA93F7D0DC1" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil4B223D6B292809178DC3C73E1EA826EE" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\nad.lst" />
            </Component>
            <Component Id="cmp27480A83DD7B7EF294C688027B56ED9D" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil3083898270F8EE9E75142E0063B3C5CC" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\nad27" />
            </Component>
            <Component Id="cmp6DC3F10FFECF4EFC738F97BC995CD48A" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil670CEE4AE4A523C3E7F3B79E15CE9AE3" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\nad83" />
            </Component>
            <Component Id="cmp343E42C6B228498D635E301CC2274BE7" Directory="PROJLIBDIR" Guid="*">
                <File Id="filCBCBCE7AB1A984CEFF4903846CF48575" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\ntf_r93.gsb" />
            </Component>
            <Component Id="cmp905C5ACA3DC9098D210A7E37102B27CE" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil88BB73BAB9513FE214319D68DD9CCD0C" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\ntv1_can.dat" />
            </Component>
            <Component Id="cmp46C778174F1DEA7E45802D79388B2B0B" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil1D8C72C5CC2D0EA9CEB809A571946F00" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\null" />
            </Component>
            <Component Id="cmp55D9EAECBBE6121AE45FC44D06827516" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil413199FB50735B2DAE67F3CC77A27817" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\nzgd2kgrid0005.gsb" />
            </Component>
            <Component Id="cmp3A523500FD90CDE7ECC2D844400330FF" Directory="PROJLIBDIR" Guid="*">
                <File Id="filD503846F73D1543AA0509CE4645BE408" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\other.extra" />
            </Component>
            <Component Id="cmpBBDBB7DCB6BC57B6ADC572146CBB7D68" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil4B683AE4C04877C5296570B123248F5A" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\proj_def.dat" />
            </Component>
            <Component Id="cmp00146928E7EDCA25EA020E9EDE06C061" Directory="PROJLIBDIR" Guid="*">
                <File Id="filCC5511D3C401302000141A3D06D65238" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\prvi" />
            </Component>
            <Component Id="cmpC75A1EC67B664D8F2D95ECD76B7D91B7" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil80F9FD7EA2E8F6979DD81C539731A7DC" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\stgeorge" />
            </Component>
            <Component Id="cmpE0680E48FCFCA1D48EA2DAFA208441DE" Directory="PROJLIBDIR" Guid="*">
                <File Id="filBE642C587CFB1AC29D644A2709A7ECD5" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\stlrnc" />
            </Component>
            <Component Id="cmp4AB3978D73269E09E6B4F68CF4571814" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil514E9D27D4370842B98EF60C1885326C" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\stpaul" />
            </Component>
            <Component Id="cmpA79DBF2E18B7342AEA238E828F79F1AC" Directory="PROJLIBDIR" Guid="*">
                <File Id="filD0127228756F19844ECCDB685A4C84FD" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\TN" />
            </Component>
            <Component Id="cmp54CED7B3F1B33C6463BA3B522B170D34" Directory="PROJLIBDIR" Guid="*">
                <File Id="filC0DF251B9CB9C97105AF9760B902B86D" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\WI" />
            </Component>
            <Component Id="cmpE06280FE929CC6E33777E4C10AD0776A" Directory="PROJLIBDIR" Guid="*">
                <File Id="filED4ED5F58B196FBFE4BA6E72F432130E" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\WO" />
            </Component>
            <Component Id="cmp719245BA56C079EB85EE0C14CB7F7246" Directory="PROJLIBDIR" Guid="*">
                <File Id="fil6B7C9597D759ED5C2C3FC43B592F48D8" KeyPath="yes" Source="!(wix.ProjlibSrcDir)\world" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>